<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This is weather app developed by Muneeb Ahmed Khan using Node JS.</p>
        <p>It fetches weather using the weatherstack API based on the location entered by the user.</p>
    </div>
    {{>footer}}
</body>
</html>